.about {
    padding: 100px 0;
}

.about__inner {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about__text {
    width: 600px;
    margin-right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.about__title {
    @include banny;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
}

.about__line {
    @include line;
    margin: 22px 0;
}

.about__desc {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.about__bold {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

.about__img {
    position: relative;
}

.about__photo {
    @include shadow-img;

}

.about__square {
    position: absolute;
    @include square;
    right: -120px;
    top: 22%;
}

@media screen and (max-width: 1160px) {
    .about__text {
        max-width: 400px;
        margin: 0 60px;
    }

    .about__photo {
        width: 350px;
        height: 350px;
    }

    .about__square {
        top: 20%;
        width: 200px;
        height: 200px;
        right: -100px;
    }

}

@media screen and (max-width: 1075px) {
    .about__square {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .about {
        padding: 40px 0;
    }

    .about__text {
        width: 100%;
        max-width: 100%;
    }

    .about__img {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .about__text {
        margin: 0 20px;
    }
}