.header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/header/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 100vh;
    // background-position: bottom center;
}

.header__inner {
    max-width: 1440px;
    margin: 0 auto;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__nav-left,
.header__nav-right {
    position: relative;
    padding-top: 45px;
    display: flex;
    justify-content: center;
}

.header__link {
    margin: 0 45px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header__link:hover {
    border-bottom: 3px solid $yellow;
    transition: 0.5;
}

.header__logo {
    margin-top: 25px;
}

.hero {
    margin-top: 151px;
}

.hero__content {
    margin: 0 81px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero__name {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero__text {
    @include banny;
    font-size: 96px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero__line {
    @include line;
}

.hero__btns {
    margin-top: 30px;
}

.hero__btn {
    margin: 0 20px;
    @include header__btn;
}

.hero__btn-line {
    margin: 0 20px;
    @include header__btn-line;
}

.hero__icon {
    margin-top: 82px;
    width: 50px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}


@media screen and (max-width: 1270px) {
    .header__link {
        margin: 0 30px;
    }
}


@media screen and (max-width: 1030px) {
    .header__link {
        margin: 0 20px;
    }
}

@media screen and (max-width: 941px) {
    .hero__content {
        margin: 0;
    }
}