.header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/header/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 100vh;
    // background-position: bottom center;
}

.header__inner {
    max-width: 1440px;
    margin: 0 auto;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__nav-left,
.header__nav-right {
    position: relative;
    padding-top: 45px;
    display: flex;
    justify-content: center;
}

.header__nav-left:after,
.header__nav-right:after {
    content: '';
    position: absolute;
    width: 530px;
    left: 0px;
    top: 100px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.header__link {
    margin: 0 45px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.header__link:hover {
    border-bottom: 3px solid $yellow;
    transition: 0.5;
}

.header__logo {
    margin-top: 25px;
}

.hero {
    margin-top: 151px;
}

.hero__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero__date {
    position: absolute;
    left: -250px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    transform: rotate(-90deg);
}


.hero__body:before {
    content: '';
    top: 125px;
    left: -137px;
    position: absolute;
    width: 699px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transform: rotate(-90deg);
}

.hero__body:after {
    content: '';
    top: 125px;
    right: -115px;
    position: absolute;
    width: 699px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transform: rotate(-90deg);
}

.hero__body {
    margin: 0 81px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero__name {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero__text {
    @include banny;
    font-size: 96px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero__line {
    @include line;
}

.hero__btns {
    margin-top: 30px;
}

.hero__btn {
    margin: 0 20px;
    @include header__btn;
}

.hero__btn-line {
    margin: 0 20px;
    @include header__btn-line;
}

.hero__icon {
    margin-top: 82px;
    width: 50px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.hero__social {}

.hero__social-icon {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: transparent;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}